/* geral */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* header */

header{
    display: flex;
    flex-direction: column;
}

#logo{
    padding: 0.5rem;
    width: 20%;
}

nav{
    background-color: rgb(186, 219, 93);
    padding: 1rem;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    transition: color 0.2s ease-in-out;
}

nav ul li a:hover{
    color: rgb(245, 245, 245);
}

/* main */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    margin-top: 5rem;
}

h1{
    color: rgb(130, 195, 99);
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 2rem;
}

/* slide */
#sessaoSlide {
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 700px;
    margin-top: 5rem;
    background-color: rgb(250, 237, 190);
    border: 15px solid rgb(255, 227, 130);
}

.imgSlide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    animation: fade 15s infinite;
}

.imgSlide:nth-child(1) {
    animation: fade-1 5s infinite;
    animation-delay: 0s;
}

.imgSlide:nth-child(2) {
    animation: fade-2 5s infinite;
    animation-delay: 5s;
}

.imgSlide:nth-child(3) {
    animation: fade-3 5s infinite;
    animation-delay: 10s;
}

@keyframes fade-1 {
    0%, 16.67% {
        opacity: 0;
    }
    25%, 91.67% {
        opacity: 1; 
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-2 {
    0%, 41.67% {
        opacity: 0;
    }
    50%, 91.67% {
        opacity: 1; 
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-3 {
    0%, 66.67% {
        opacity: 0;
    }
    75%, 91.67% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* secao dicas */
#introducao{
    color: rgb(64, 64, 64);
    text-align: center;
    font-size: 1.2rem;
    padding: 0rem 3rem;
}

#areaCards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.card img{
    border-radius: 100%;
    width: 65%;
    border: 5px solid rgb(255, 227, 130);
    padding: 5px;
    margin-top: 2rem;
    transition: width 0.3s ease-in-out;
}

.card img:hover{
    width: 70%;
}

.legenda{
    color: rgb(64, 64, 64);
    font-size: 1.2rem;
    margin-top: 0.25rem;
    text-align: center;
}

.botao{
    border-radius: 30px;
    background-color: rgb(186, 219, 93);
    width: 30%;
    padding: 0.5rem;
    margin-top: 1rem;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.botao a{
    text-decoration: none;
    text-align: center;
    color: rgb(245, 245, 245);
    font-size: 1.2rem;
}

.botao:hover{
    background-color: rgb(156, 187, 72);
}

/* secao antes e depois */
#sessaoAntesDepois{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#sessaoAntesDepois h1{
    width: 100%;
}

#sessaoAntesDepois img{
    width: 25%;
    margin: 0rem 1rem;
    border: 5px solid rgb(255, 227, 130);
    padding: 5px;
    transition: width 0.4s ease-in-out;
}

#sessaoAntesDepois img:hover{
    width: 28%;
}

/* footer */

footer{
    background-color: rgb(186, 219, 93);
    color: rgb(245, 245, 245);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    margin-top: 2rem;
}

footer h2{
    margin-bottom: 1rem;
}

footer a{
    text-decoration: none;
    color: rgb(245, 245, 245);
}

footer p, i{
    font-size: 1.2rem;
}

footer div{
    display: flex;
    flex-direction: column;
}

#footerSobre{
    width: 33%;
}

#footerSobre p{
    width: 60%;
}

#footerSocial{
    width: 33%;
}

small{
    background-color: rgb(130, 195, 99);
    margin-top: 5rem;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.1rem;
}

