*{
    box-sizing: border-box;
}

html{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(64, 64, 63);
}

/** menu de navegacao **/

.barraMenuNavegacao{
    background-color: rgb(186, 219, 93);
}

.barraMenuNavegacao ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.barraMenuNavegacao ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}

section{
    margin: 50px 0px;
}

/** section 1 **/

#sessao1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imgSessao1{
    width: 20%;
    border: 5px solid rgb(255, 227, 130);
}

/** section 2 **/

#sessao2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sessao2 h1{
    color: rgb(130, 195, 99);
    font-size: 2rem;
    font-weight: lighter;
}

#sessao2 p{
    margin: -20px 0px;
    font-size: 1.25rem;
    text-align: center;
    width: 35%;
}

/** footer **/

footer{
    background-color: rgb(186, 219, 93);
    color: rgb(255, 255, 255);
}

.infoFooter{
    display: flex;
    justify-content: space-around;
    padding: 10px 50px;
    list-style: none;
}

.infoFooter li{
    font-size: 1.5rem;
}

.descricaoSobreFooter{
    margin: 0px 50px;
}

.copyright{
    display: flex;
    justify-content: center;
    background-color: rgb(130, 195, 99);
}