/* geral */

*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* header */

header{
    display: flex;
    flex-direction: column;
}

#logo{
    padding: 0.5rem;
    width: 20%;
}

nav{
    background-color: rgb(186, 219, 93);
    padding: 1rem;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    transition: color 0.2s ease-in-out;
}

nav ul li a:hover{
    color: rgb(245, 245, 245);
}

/* main */
main{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* slide */
#sessaoSlide {
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 700px;
    margin-top: 5rem;
    background-color: rgb(250, 237, 190);
    border: 15px solid rgb(255, 227, 130);
}

.imgSlide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    animation: fade 15s infinite;
}

.imgSlide:nth-child(1) {
    animation: fade-1 5s infinite;
    animation-delay: 0s;
}

.imgSlide:nth-child(2) {
    animation: fade-2 5s infinite;
    animation-delay: 5s;
}

.imgSlide:nth-child(3) {
    animation: fade-3 5s infinite;
    animation-delay: 10s;
}

@keyframes fade-1 {
    0%, 16.67% {
        opacity: 0;
    }
    25%, 91.67% {
        opacity: 1; 
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-2 {
    0%, 41.67% {
        opacity: 0;
    }
    50%, 91.67% {
        opacity: 1; 
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-3 {
    0%, 66.67% {
        opacity: 0;
    }
    75%, 91.67% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}